$theme-bg: #131523; /* White background */
$theme-fg: #eeeeee; /* Black text */
$nav-bg: $theme-bg;
$nav-fg: $theme-fg;
$logo-font: "Cedarville Cursive", cursive;
$content-font: "Roboto Slab", serif; /* Replace with your desired font for the rest of the text */
