@import 'constants';

/* Configurable variables */

// $nav-bg: #979df2;
// $nav-fg: #fff0e7;
$alternate-bg: #373737; /* Light gray for alternating rows */





#showcase {
	display: flex;
	flex-direction: column;
	width: 100%;

	margin-top:10px;

  $row-height: 220px;
  $row-vpad: 30px;
  $showcase-margin: 40px;

	// background: linear-gradient(to bottom, #131523 20%, #8894fa 50%, #fe8e85 80%, #a376b6 100%);
	

  align-items: center;
  justify-content: start;

	// background: linear-gradient(to bottom, #131523 20%, #555c9a 50%, #8e4f4a 80%, #413049 100%);

	.music-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
    max-width: 950px;
    margin: auto;

    &:nth-child(1){
    //   margin-top: $showcase-margin;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
      overflow: hidden;
    }

    &:nth-last-child(1){
      margin-bottom: $showcase-margin;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      overflow: hidden;
    }


    margin-left: 40px;
    margin-right: 40px;

		.music-header.mobile {
			display: none;
		}

		.music-item-content {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
      // width: 100%;
			max-width: 950px;
			padding: 20px;

      

			padding-top: $row-vpad;
			padding-bottom: $row-vpad;
			min-height: $row-height;

      

			// background: rgba($theme-bg, 0.6);

			// opacity: 0.7;
			// border-radius: 6px;
  
			// border: 2px solid $theme-fg;
			// margin: 20px;
		}

		&:nth-child(even) {
			.music-item-content{
			  background-color: rgba($alternate-bg, 0.6);
			}
			.player {
				order: 2; /* Move player to the right for even rows */
			}
			.music-text {
				order: 1; /* Move text to the left for even rows */
			}
		}

		&:nth-child(odd) {
		  .music-item-content{
		    background-color: rgba(rgb(35, 34, 39), 0.6);
		  }
		  // background-color: $theme-bg;
		}

		$col-width: 47%;

		.player {
			text-align: center;
			height: $row-height;
			width: $col-width;
			min-width: 220px;
      


			iframe,
			embed {
				min-width: 100%;
				width: 100%;
				height: 100%;
				border-radius: 3px;
			}
		}

		.music-text {
			width: $col-width;
			align-self: start;

			.music-description {
				font-size: 16px;
				line-height: 1.5;
				text-align: justify;
				width: 100%;
			}
		}

		.music-header {
			font-size: 26px;
			margin: 0 0 10px;
			width: fit-content;
			border-bottom: 1px solid $theme-fg;
			padding-bottom: 3px;
		}
	}

	@media screen and (max-width: 768px) {
		.music-item:nth-child(even) {
			// background-color: $alternate-bg;

			.player {
				order: 0; /* Move player to the right for even rows */
			}
			.music-text {
				order: 2; /* Move text to the left for even rows */
			}
		}

		.music-item {
			flex-direction: column;
			align-items: stretch;

			.music-text,
			.player {
				width: 100%;
			}

			.mobile.music-header {
				order: 0;
				display: inline-block;
			}

			.music-text {
				order: 2;
				.music-header {
					display: none;
				}
			}

			.player {
				order: 1;
				margin-top: 10px; /* Add some spacing between sections */
				margin-bottom: 25px;
			}

			.music-description {
				margin-top: 10px;
			}
		}
	}
}
